.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px;

  .initials {
    font-family: KaushanScript;
    font-size: 14.5px;
    color: #757778;
    letter-spacing: 1px;
    margin-left: 5px;
  }
}
