@font-face {
  font-family: 'KaushanScript';
  src: url(./assets/fonts/KaushanScript-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'NeutronBold';
  src: url(./assets/fonts/Neuton-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'NeutronBolder';
  src: url(./assets/fonts/Neuton-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'NeutronLighter';
  src: url(./assets/fonts/Neuton-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Neutron';
  src: url(./assets/fonts/Neuton-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'NeutronLight';
  src: url(./assets/fonts/Neuton-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'NeutronLighter';
  src: url(./assets/fonts/Neuton-ExtraLight.ttf) format('truetype');
}
